form{
    width: 100%;
}

form>div {
    margin-bottom: 10px;
    margin-top: 10px;
}
/* .options>div {
    margin-bottom: 5px;
} */
form .options span{
    font-size: 1.5rem;
    color: #7e7b7b;
}
form hr{
    width: 50%;
}
form h1{
    background-image: linear-gradient(to right , #f5f4f4, lightpink, #f5f4f4);
    color: white;
    font-size: 1.4rem;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 2rem;
    padding-top: 3px;
    font-weight: 200;
    border-radius: 5px;
}
form input{
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: normal;
}
/* label{
    width: 500px;
} */
/* .timeset{
    display: flex;} */
form .time {
    margin-bottom: 10px;
}
.subj,
.type,
#option {
    text-align: center;
}
#subject,
#open_date,
#close_date {
    width: 200px;
}
.subm {
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}
.f-inB{
    height: 90px;
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    position: relative;
}
.go-vote-out{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.go-vote-out:hover{
    background-color: #fff;
    font-weight: 900;

}
.vote div>.go-vote-in{
    position: absolute;
    right: 47.4%;  
    width: 100px;
    
    bottom: 5px;
    height: 50px;
  
    opacity: 0.5;
    border: 1px solid black;
    background-color: white;
    
   
    background-image: url(/img/vote_ticket.png);
    }
.go-vote-in:hover{
    rotate: 2deg;
    opacity: 0.65;
    
}
h3{
    letter-spacing: 10px;
    opacity: 1;
    border-radius: 5px;
    width: 60%;
    height: 3rem;
    margin: 20px auto;
    padding-bottom: 5px;
    font-size: 2rem;
    background-image: linear-gradient(to right , lightpink, #f5f4f4);
    background-repeat: no-repeat;
    /* margin-bottom: 10px; */
    padding-top: 5px;
    color: #fff4f4;
    animation-name: h3Ani;
    animation-duration: 2.5s;  
    animation-fill-mode: forwards;
   
}
@keyframes h3Ani {
    0% {background-size: 0% 100%;}
    90%{background-size: 100% 100%;box-shadow: 0px 0px 0px 0px lightgray;}
    100% {box-shadow: 5px 3px 8px 1px lightgray;}
}
input[type="submit"] {
    width: 250px;
    color: brown;
    background-color: lightpink;
    opacity: 0.8;
    margin-top: 10px;
}
input[type="submit"]:hover{
    opacity: 1;
}
.email {
    position: relative;
    left: -5px;
}

.vote-option{
    background-image:linear-gradient(to right ,white,#f5f4f4, #ffeded, #f5f4f4,white);
    background-repeat: no-repeat;
   
}
li.vote-option-title,
.vote-option {
    width: 60%;
    margin: 0 auto;
}
